@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #191919;
    --card-bg: #064663;
    --text-color-primary: #fafafa;
}

body{
    background-color: var(--bg-color);
    font-family: "montserrat", sans-serif;
}
.header{
    padding: 3rem;
}
.heading-1{
    font-size: 3rem;
    color: var(--text-color-primary);
}
.card{
    width: 18rem;
    border-radius: 4px;
    background-color: var(--card-bg);
}
.card-image-container{
    width: 100%;
    height: 18rem;
    
}
.card-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: center;
    margin-top: 10px;
}
.movie-details{
    margin: 10px 0;
    margin-top: 20px;
    color: var(--text-color-primary);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-size: 1.1rem;
}
.genre{
    font-size: 0.875rem;
}
.rating{
    display: flex;
    justify-content: space-between;
}
.star-rating{
    display: flex;
    align-items: center;
    gap: 2px;
}